---
import { go } from "@/proxy/backend";
import Layout from "../_layout.astro";
import { ElDivider, ElEmpty } from "element-plus";
import GridProduct from "../_GridProduct.vue";
if(!Astro.locals.isLogin) {
    return Astro.redirect(Astro.locals.loginUrl || "");
}

const { list } = await go(Astro.request, "POST", "/headphone/list-collect");
---

<Layout title="我的收藏">
    <div class="wrapper">
        <h2>我的收藏</h2>
        <ElDivider />
        {
        list?.length ?
        <GridProduct list={list} client:load /> :
        <ElEmpty description="还没有收藏商品" />
        }
    </div>
</Layout>

<style>
    .wrapper {
        background: white;
        border-radius: 24px;
        margin: 24px 0;
        padding: 18px;
    }
    h2 {
        font-size: 1.2em;
        margin-top: 12px;
    }
</style>